*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    .croissant-one-regular {
        font-family: "Croissant One", serif;
        font-weight: 200;
        font-style: normal;
     
        
      }
}





/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgb(216, 117, 50); /* Adjusted for consistency */
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0;
    margin-right: 20px;
}

.nav-links ul li {
    background-color: rgba(211, 96, 47, 0.933);
    display: inline-block;
    padding: 4px 8px;
    margin-left: 10px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(255, 249, 212) !important;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding:4px 3px;
}

/* Logo and Title */
.icon {
    height: 59px;
    margin-right:10px;
   
}

h2 {
    font-size: 1.5rem;
    font-family: "Croissant One";
    color: rgb(255, 249, 212);
    z-index: 1;
    margin-left:-12px;
}

/* Hover Effects */
.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: rgb(255, 249, 212);
    display: block;
    margin: auto;
    transition: width 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}



h2{
    font-size: 19px;
    position:absolute;
    left:125px;
    top:38px;
    color:rgb(245, 238, 198);
    z-index: 1;
    font-family: "Croissant One";
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgb(245, 238, 198); /* Beige color for the entire page */
    color: #333;
}
    
    a {
        color: rgba(211, 96, 47, 0.933);
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    /* About Section */

    h3{
        font-size: 30px;
        position: relative;
        font-family: "Croissant One"; 
        color: rgba(211, 96, 47, 0.933);
        left: 50%;
        padding-top:25px;
        padding-bottom: 50px;
    }
    .about-section {
        padding: 40px;
        background-color: rgb(255, 249, 212);
        margin: 20px auto;
        max-width: 780px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .about-images {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 20px;
    }
    
    .about-images img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .about-text {
        flex: 2;
    }
    
    .about-text p {
        font-size: 18px;
        line-height: 1.5;
    }
    
    /* Contact Section */
    .contact-section {
        padding: 40px;
        background-color: rgba(211, 96, 47, 0.933);
        color: rgb(245, 238, 198);
        text-align: center;
    }
    
    .contact-section a {
        color: rgb(245, 238, 198);
        font-weight: bold;
    }
    
    .contact-section a:hover {
        text-decoration: underline;
    }
   